.navbar-dark {
  background-color: #03102e	 !important; /* dark gray navbar */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}

h2 {
  font-weight: 600;
  color: whitesmoke;
}
.secondh2 {
  font-weight: 600;
  color: #03102e;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

a {
  text-decoration: none;
  color: #FFDF00;
}

a:hover {
  text-decoration: underline;
}

footer {
  font-size: 0.9rem;
}

.jalanie{
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #03102e; /* dark navy blue border */
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    align-items: center;
}
.icon{
    font-size: 30px;
    text-align: center;
}

.container1{
    text-align: center;
}

.card-border-navy {
  border: 5px solid #001f3f;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav-link{
  color: whitesmoke;
}

.bg-dark{
    background-color: #03102e	 !important; /* dark gray navbar */

}

.btn-primary{
  border: 5px solid #001f3f;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #03102e

}
